stages:
    # - build
    - test

# build-job:
#     stage: build
#     script:
#         - npm run build

test-job:
    stage: test
    script:
        - domain/src/python -m coverage run test_Board.py
        - domain/src/python -m coverage report