.playerinitiation {
    background-image: linear-gradient(to right,darkblue, skyblue 18%, skyblue 82%, darkblue);
}

input {
    width: 200px;
    height: 30px;
    margin-top: 95px;
    margin-left: 30px;
    margin-right: 30px;
}

.startGameButton {
    font-size: 1.7em;
    background-color: rgba(233, 157, 16, 0.878);
    border: 2px solid black;
    transition: 0.3s;
    overflow: hidden;
}

.startGameButton::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 20px;
    background: #f3f3f3;
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    opacity: 0.9;
    top: -30px;
    left: 1px;
    transition: 0.3s;
    transform: rotate(-20deg) translateX(-50px);
}

.startGameButton:hover {
    background-color: rgb(243, 212, 34);
    transform: scale(1.2);
    transition-timing-function: ease-out;
}

.startGameButton:hover::before {
    transform: rotate(-20deg) translate(155px, 70px);
}

.errorMessage {
    height: 1em;
    color: red;
}

.horizonbanner {
    display: flex;
    align-content: flex-end;
    margin-top: 69px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}