.pick-pieces {
    display: grid;
    grid-template: 1fr / 20% 45% 35%;
    place-items: center;
}

.machine-pieces {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
}

.machine-pieces div {
    display: grid;
    grid-template: 30px 80px / repeat(5, 1fr);
    place-items: center;
    transition: all 0.25 ease-in-out;
}

.machine-pieces div button {
    grid-row-start: 2;
    width: 100px;
    height: 60px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10%;
    box-sizing: border-box;
    margin: 22px 0px 22px -20px;
}

.machine-pieces div button:hover {
    transform: translateY(-10px) rotate(3deg);
}

.machine-pieces div button:hover ~button {
    transform: translateX(17px);
}

.machine-pieces div h3 {
    justify-self: start;
}

.show-pieces {
    margin-top: -100px;
}

.show-pieces div {
    display: grid;
    grid-template: 25px 265px 60px/ 200px;
}

.name-and-points {
    grid-template-columns: 100px 100px;
    margin-top: -50px;
    margin-left: -30px;
}

.shown-machine {
    width: 200px;
    height: 270px;
    margin-left: -30px;
}

.stats {
    grid-template-columns: 100px 100px;
    margin-left: -50px;
    align-content: start;
    justify-content: center;
}

.stats p {
    border: 1px solid black;
    border-radius: 10px;
}

.attack, .health {
    width: 60px;
    height: 30px;
}

.attackrange, .moverange {
    width: 110px;
    height: 30px;
    margin-top: 22px;
}

.armor, .weak-spots {
    width: 130px;
    height: 60px;
    margin-top: -212px;
}

.ability {
    grid-column: span 2;
    margin-top: -211px;
    margin-bottom: 185px !important;
}

.show-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.show-list h3 {
    margin-bottom: -10px;
}

.question {
    margin-bottom: -18px;
}

.unit-of-machinesquad {
    background-color: gold;
    border-radius: 8%;
}

.unit-of-machinesquad:hover {
    background-color: red;
    opacity: 0.7;
}

.confirm-button {
    background-color: rgba(233, 157, 16, 0.878);
    border: 1px solid black;
    transition: 0.3s;
    overflow: hidden;
}

.confirm-button::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 20px;
    background: #f3f3f3;
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    opacity: 0.9;
    top: -30px;
    left: 1px;
    transition: 0.3s;
    transform: rotate(-20deg) translateX(-50px);
}

.confirm-button:hover {
    background-color: rgb(243, 212, 34);
    transform: scale(1.2);
    transition-timing-function: ease-out;
}

.confirm-button:hover::before {
    transform: rotate(-20deg) translate(175px, 70px);
}