.game {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    place-items: center;
}

.gameboard{
    margin-top: 5%;
    place-self: center;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
}
.gameboard > div {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    box-sizing: border-box;
}

.gameboard > div > div {
    margin-top: 4px;
    margin-left: 4px;
}

.start-button {
    margin-top: 20px;
    margin-left: 238px;
}

.hill {
    background-color: darkslategrey;
}
.mountain {
    background-color: grey;
}
.grassland {
    background-color: rgb(58, 220, 58);
}
.marsh {
    background-color: turquoise;
}
.forest {
    background-color: forestgreen;
}
.chasm {
    background-color: rgb(226, 33, 33);
}

.p1-info, .p2-info {
    display: grid;
    grid-template-rows: 10% 30% 1fr;
}

.p1-info {
    margin-right: -50px;
}
.p2-info {
    margin-left: -100px;
}

.p1-machinepieces, .p2-machinepieces {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
}

.machine-piece {
    font-size: x-small;
    width: 58px;
    height: 58px;
    border: 1px solid black;
    border-radius: 10%;
}

.player1machine {
    background-color: rgb(188, 108, 222);
}
.player2machine {
    background-color: rgb(220, 149, 17);
}

/* .show-machine {
    width: 50px;
    height: 50px;
    background-color: red;
    place-self: center;
} */